body {
   margin: 0;
   
    
}


@media only screen and (max-width : 560px){
.modal {
    width: 100%;
    position: absolute;
    top: 25% ;
    left: 25%;
   
}
}

.modal {
    width: 50%;
    
 background-color: antiquewhite;
    position: relative;
   
    margin: 0 auto ;

   
    display: flex;
     flex-direction: column;
    
    
    margin-top: 25vh;
   visibility: hidden;
   overflow: auto;
}

.close__btn {
  align-items: flex-end;
  width: 1.5rem;
  background-color: antiquewhite;
  border: 0;
  font-size: 2rem;
 position: absolute;
 right: 0;
 margin-right: 10px;

 
}
.overlay {
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,0.5);
   z-index: 0;
   
 }

.show__modal {
   visibility: visible;
   z-index: 1;
   
   
   
}

.close__modal {
   visibility: hidden;
  
}

.section__1 {
   margin-bottom: 2rem;
}

footer {
   
   position: absolute;
   right: 0;
   bottom: 0;
  
}

p {
   margin:0 50px;
}
    
   header {
      margin-left: 50px;
   }